

*, head, body{
	margin: 0;
	padding: 0;
}
p{
	font-size: 13px; 
	font-family: Romul;
}


.hr-l, .hr-r{
	position: absolute;
	top: 10px; 
	width: 45%; 
}
.hr-r{ 
	right: 0; 
}
.hr-l{
	left: 0; 
}
  
.wrapper{
	margin: 0 13% 0 20%;
}

header{
	padding: 0 0 40px ;
}
.head{
	display: flex; 
	-webkit-justify-content: space-around;
	        justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 40px;
    position: relative;
}
.head .head-numbers{
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;	
}
.head .head-numbers .num-block .number{
    font-size: 12px;
    font-weight: bold;
    margin: 1px 40px 0 12px;
    letter-spacing: 0.8px; 
}
.head .head-numbers .num-block .num-text{
	color: #D0AA8C;
    font-size: 10px;
    margin: 0 5px 0 13px; 
}
.head .logo{  
	width: 15%;
    margin: -23px 53px 0 5px; 
    z-index: 2;
    background: #FFF;
}

.btn-head{
    font-size: 10px;
    font-weight: 600;
    margin-right: 10px;
    padding: 5px 28px;
    border: 2px solid #2f2c34;
    background: #fff;
    -webkit-transition: 0.16s;
       -moz-transition: 0.16s;
        -ms-transition: 0.16s;
         -o-transition: 0.16s;
            transition: 0.16s;
}  
.btn-head:hover{
	background: #D0AA8C;
	border: 2px solid #D0AA8C;
	color: #fff;
}

nav{
	background: linear-gradient(#2f2c34, #413a3e);
	padding: 15px 10px;
}
nav .container{
	display: flex;
	-webkit-justify-content: space-around;
	         justify-content: space-around; 
}
nav .nav-a{
	color: #FFF;
	font-size: 14px;
	padding-right: 75px; 
	border-right: 1px solid #747177	;
	text-decoration: none;
}
nav .nav-a:last-child{
	margin-right: 0;
	border-right: none;
	padding-right: 0;
	border-bottom: none;
	outline: none;
}
nav .nav-a:hover{
	color: #FFF; 
}
.bread{
	text-align: center;
	padding: 10px 0;
	border-bottom: 1px solid #E8E8E9;
}
.bread .bread-link{
	text-decoration: none;
	font-size: 10px;
	color: #000;
	border-left: 1px solid #000; 
	padding: 0 5px;
	transition: 0.1s; 
}
.bread .bread-link:first-child{
	border-left: none; 
}
.bread .bread-link:first-child:hover{
	color: #D0AA8C;
	border-left: none;  
}
.bread .bread-link:hover{
	color: #D0AA8C;
	border-left: 1px solid #D0AA8C;  
}

h2, .b-word, .descr-text{
	text-align: center;
	width: 640px;
	margin: 0 auto;
}
h2{
	font-size: 26px;
	font-weight: 100;
}
.b-word{
	font-size: 38px;
	margin-top: 10px;
}
.b-word:before{
	content:'';
	display: inline-block;
	width: 120px;
	height: 2px; 
	margin: 0 30px 10px 0;
	background: #D0AA8C;
}
.b-word:after{
	content:'';
	display: inline-block;
	width: 120px;
	height: 2px; 
	margin: 0 0 10px 30px;
	background: #D0AA8C;
}
.descr-text{
	margin-top: 25px;
}
.services{
	text-align: center;
	padding-bottom: 40px;
}
.services .service-r{
	padding-left: 30px;
}
.services .service-l{
	padding-right: 30px;
}
.services .service{
	margin-top: 40px; 
}
.services .service img{
	width: 100%;
	height: 230px;
}
.services .service-head{
	font-size: 25px;
	margin: 20px 0;
}
.services .line{
	width: 100px;
	height: 1px;
	margin: 0 auto 20px auto;
	background: #D0AA8C;
}
.services .service .service-body p{
	font-size: 12px;
} 
.services .service .btn-service{ 
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600; 
    padding: 6px 70px;
    margin-top: 30px;
    margin-bottom: 10px;
    border: 2px solid #2f2c34;
    background: #fff;
    -webkit-transition: 0.16s;
       -moz-transition: 0.16s;
        -ms-transition: 0.16s;
         -o-transition: 0.16s;
            transition: 0.16s;
}
.services .service .btn-service:hover{
	background: #D0AA8C;
	border: 2px solid #D0AA8C;
	color: #fff;	
}

footer{
	background: url(../img/footer-bg.jpg) center center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
    padding: 30px 0; 
}
footer h4{
	color: #FFF;
	font-size: 18px;
}
footer .footer-links{
	width: 90%;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}  
footer .footer-links:not(.notnot){
	border-right: 1px solid #a3a3a3;  
}
footer .abc{
	border-left: 1px solid #a3a3a3; 
}
footer .f-link{
	font-size: 14px;
	color: #A3A3A3;
	text-decoration: none;
	-webkit-transition: 0.1s;
	   -moz-transition: 0.1s;
	    -ms-transition: 0.1s;
	     -o-transition: 0.1s;
	        transition: 0.1s;
}
footer .f-link:hover{
	color: #FFF;
}
footer .line{
	width: 60px;
	height: 1px;
	margin: 10px 0 20px 0;
	background: #D0AA8C;
}
footer .footer-links .btn-footer{ 
	width: 70%;
	color: #a3a3a3;
	border: none;
	border-bottom: 2px solid #a3a3a3;
	background: none;
	font-size: 14px;
	padding: 6px 20px;
	margin-bottom: 5px;
	-webkit-transition: 0.2s;
	   -moz-transition: 0.2s;
	    -ms-transition: 0.2s;
	     -o-transition: 0.2s;
	        transition: 0.2s;
}
footer .footer-links .btn-footer:hover{
	color: #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: scale(0.97);
	   -moz-transform: scale(0.97);
	    -ms-transform: scale(0.97);
	     -o-transform: scale(0.97);
	        transform: scale(0.97);
}

footer .footer-links .contact-block{
	background: rgba(163, 163, 163, 0.4);
	padding: 4px 25px;
	width: 70%;
	margin-top: 12px;
}
footer .footer-links .contact-block .fn{
	color: #FFF;
	font-size: 14px;
	text-align: center;
	-webkit-transition: 0.1s;
	   -moz-transition: 0.1s;
	    -ms-transition: 0.1s;
	     -o-transition: 0.1s;
	        transition: 0.1s;
	cursor: pointer;
	margin: 0 0 5px 0;
}
footer .footer-links .contact-block .fn:hover{
	-webkit-transform: scale(0.97);
	   -moz-transform: scale(0.97);
	    -ms-transform: scale(0.97);
	     -o-transform: scale(0.97);
	        transform: scale(0.97);
}
footer .footer-links .contact-block .ft{
	color: #a3a3a3;
	font-size: 4px; 
	text-align: right;
	margin-bottom: 0;
}




@font-face { 
	font-family: "Romul";  
	src: url("../fonts/Romul.ttf") format("Romul"); 
	font-style: normal; 
	font-weight: normal; 
} 