.header{ 
	position: relative;
    width: 100%; 
    background-color: #333335; 
    padding: 0 30px; 
    nav.navbar{ 
        margin: 0;
        text-transform: uppercase;  
        box-shadow: none; 
        a.logo{  
            font-family: 'Indie Flower', cursive;
            color: #FFF;
            font-size: 1.6rem; 
            text-decoration: none;
            transition: all 0.2s; 
            &:hover{
                opacity: 0.8; 
            }
        }
        .navbar-collapse{  
            .navbar-nav{ 
                a{
                    color: #FFF;
                    margin-right: 15px;
                    text-decoration: none;
                    transition: all 0.2s;  
                    margin-right: 20px;
                    font-size: 0.9rem; 
                    font-family: 'Raleway', sans-serif;
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
        }
    }
} 