.home{
	background: url(../img/header-bg.jpg); 
    background-color: #222;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 0;
    color: #FFF; 
	background-size: cover;
  	height: 100vh;
	.intro{
	    width: 100%; 
	    text-align: center;
	    padding-top: 35vh;
		.h-text{
		    font-family: 'Raleway', "Times New Roman", sans-serif;
		    font-size: 1rem;
		    font-style: normal;
		    text-transform: none;
			margin: 15px 0;  
			@media (max-width: 1024px) {  
			    margin: 35px 0; 
			}
			@media (max-width: 450px) {    
		        margin: 40px 0; 
			}
		}
	}
} 
