include ../mixins/service.pug

section.section.section_bg-purple#services
    .wrapper
        h2.h2 То, что я делаю
        p.description
            | Никто не зажигает лампу, чтобы спрятать ее за дверью: цель света - создать больше света, открыть глаза людям, раскрыть чудеса вокруг.
        .services
            +service('fa fa-puzzle-piece fa-2x', 'Верстка', 'С вас дизайн. С меня готовый работающий сайт</p>', 'Технологии: HTML5, CSS3, Bootstrap 4' )
            +service('fa fa-code fa-2x', 'Веб-Программирование', 'Что? Динамические части сайта, говорите? Да, конечно. Напишите мне.', 'Технологии: JavaScript(ES6), ReactJS, Redux')
            +service('fa fa-globe fa-2x', 'Хостинг', 'Если у вас нет своего домена и хостинга, то я могу сделать все за вас. Только мне', 'Технологии: Сайты, продающие хостинг. Filezilla')
