include ../mixins/work.pug

section.section.section_bg-darkGrey.section_color-grey#works
    .wrapper
        h2.h2 Мои последние работы
        p.description
            | Никто не зажигает лампу, чтобы спрятать ее за дверью: цель света - создать больше света, открыть глаза людям, раскрыть чудеса вокруг.
        .works
            +work('https://buymanas-web.herokuapp.com', 'BuyManas project')
            +work('https://kushbak.github.io/NeobisTemplate4/', 'Portfolio website for team')
            +work('https://kushbak.github.io/NeobisWD/', 'Portfolio website')
            +work('https://kushbak.github.io/NeobisFreebie/', 'Gifts for sweetheart website')
            +work('https://kushbak.github.io/NeobisCloudbudget/', 'CloudBudget managment website')
            +work('https://kushbak.github.io/NeobisTemplate/', 'Portfolio website for Dmitriy(idk him)')
            +work('works/9DOMwatсhes/index.html', 'DOM Watches')
            +work('works/8Pomsies/index.html', 'Игрушки Pomsie')
            +work('works/7KidsWatch/index.html', 'Детские смарт-часы')
            +work('works/6MineLP/index.html', 'Smart Agency LP')
            +work('works/5AgencyLP/index.html', 'Simple LP')
            +work('works/4MDBProject/index.html', 'LP made with MDB')
            +work('works/3Corporate/index.html', 'Coprorate LP')
            +work('works/2MDB/index.html', 'LP with Bootstrap')
            +work('works/1Mycompany/index.html', 'My 1st simple web-site') 
        button.button.view-more#viewMore Показать еще
