mixin work(workLink, workTitle)

    .work-item
        a(href=workLink).work-item-link
            .w-wrapper
                .work-item-text
                    h5 #{workTitle}
                    <p>Кликните, <br> чтобы перейти к странице</p>