mixin work(workLink, workTitle)

    .work-item
        a(href=workLink).work-item__link 
            .work-item__text
                h3.h3 #{workTitle}
                <p>Кликните, <br> чтобы перейти к странице</p>