<!DOCTYPE html>
html(lang="en")
    head
        script(src="js/modernizr-custom.js")
        //- meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css",
            rel="stylesheet", 
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", 
            crossorigin="anonymous") 
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/animate.css")
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Indie+Flower&family=Raleway:wght@400;900&display=swap")

    body
        .home#home
            .intro
                p.h-text Здрасьте, меня зовут Кушбак и я
                h1.h1 FRONTEND - разработчик
                p.h-text делаю современные адаптивные сайты

        include ../sections/_header
        
        main(data-spy="scroll", data-target="#navSticky", data-offset="0")
            include ../sections/services.pug
            include ../sections/works.pug
            include ../sections/skills.pug

        include ../sections/_footer

        script(src="https://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous")
        script(src="js/jquery.knob.js")
        script(src="js/jquery.sticky.js")
        script(src="js/bootstrap.min.js")
        script(src="js/script.js") 
