@import 'sections/header';
@import 'sections/home'; 
@import 'sections/services'; 
@import 'sections/skills'; 
@import 'sections/works'; 
@import 'sections/footer'; 

*{
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
} 
html, body{ 
	overflow-x: hidden;
} 
html{
	font-size: 16px;
	@media (max-width: 1024px) {   
		font-size: 20px;
	} 
	@media (max-width: 768px) {   
		font-size: 25px;
	} 
    @media (max-width: 450px) {   
        font-size: 30px; 
    }
}
a{
	text-decoration: none;
	color: #3E3E3E;
} 
ul {
	list-style: none;
} 
.h1{ 
	font: 700 2.3rem 'Raleway', sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin: 5px 0 5px;
	@media (max-width: 1024px) {     
		margin: 10px 0;
	}
	@media (max-width: 450px) {     
		font-size: 2rem;
	}
}
.h2{ 
	font-size: 2.6rem;
	margin: 30px 0; 
	text-align: center;
    letter-spacing: 3px; 
    text-transform: uppercase;
    &:after{
		content: "";
		display: block;
		width: 100px;
		height: 2px;
		background: rgba(133, 133, 139, 0.5); 
		margin: 40px auto;
	}  
}  
.h3{
	font-size: 1.5rem;
    font-weight: bold;
    min-height: 30px; 
	color: #000;
	text-align: center;
	padding-top: 30px;
	font-weight: bold;
	transition: all, 0.4s; 
	@media (max-width: 450px) {    
		font-size: 1.2rem;
	}
} 
.wrapper{
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	@media (min-width: 576px){ 
		max-width: 540px; 
	}
	@media (min-width: 768px){ 
		max-width: 720px; 
	}  
	@media (min-width: 992px){  
		max-width: 960px; 
	} 
	@media (min-width: 1240px){  
		max-width: 1140px; 
	}
	@media (min-width: 1440px){ 
		max-width: 1366px; 
	}
} 
.section{
	padding: 40px 0;
	&_bg-purple{
		background: #656;
	}
	&_bg-darkGrey{
	    background: #3E3E3E;
	}
	&_color-grey{
	    color: #A6A6A6;
	}
}  
.description{
	font-size: 1.4rem;
	text-align: center;
	margin: 45px 0;
	letter-spacing: 1px; 
} 
.button{
	transition: all 0.2s linear;
	cursor: pointer;
	&:hover{ 
        transform: scale(1.05);
	}
}  
.hireme{ 
	h3{
		font-weight: bold;
		font-size: 1.6rem;
	}
	p{
		font-size: 1rem;
	}
	a{
		text-decoration: none;
		.hireme-btn{
			display: block;
			margin: 40px auto 10px auto;
			border: none;  
			border-radius: 5px; 
			background: #888888;
			padding: 7px 40px; 
		} 
	}
}   
